* {
  font-family: Helvetica, Arial;
}

body{
  background: linear-gradient(to left, #7076f3, #291bef);
}

h1, h3{
  color: aliceblue;
}

#title{
  font-family: monospace; 
  font-size: 3.5rem;
}

.separator{
  border-top: 1px solid white;
}

.card-img-top {
  height: 200px;
}